<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- [END css] -->
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
      blockquote {
        margin-bottom: 10px;
        border-left-color: #bbb;
      }
      form {
        margin-top: 10px;
      }
      .form-signin input[type="text"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .row {
        margin-left: 0px;
        margin-top: 10px;
        overflow: scroll;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">App Engine Guestbook</a>
          <div class="nav-collapse collapse pull-right">
            Login as
            <a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- [START Input] -->
      <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
	<h3>Weekly: 
	    {% if sum.week >=0 %}
		{{"{0:,d}JPY".format(sum.week)}}
	    {% else %}
		<FONT color="red">{{"{0:,d}JPY".format(sum.week)}}</FONT>
	    {% endif %}
          , Today: 
	    {% if sum.today >=0 %}
		{{"{0:,d}JPY".format(sum.today)}}
	    {% else %}
		<FONT color="red">{{"{0:,d}JPY".format(sum.today)}}</FONT>
	    {% endif %}
          , Monthly Cost 
	    {% if sum.month_cost >=0 %}
		{{"{0:,d}JPY".format(sum.month_cost)}}
	    {% else %}
		<FONT color="red">{{"{0:,d}JPY".format(sum.month_cost)}}</FONT>
	    {% endif %}
	 </h3>
      <label><h5>Amount (JPY)</h5><input type="number" name="amount"></label>
      <label><h5>Date</h5><input type="date" name="date"></label>
      <p>
      <input type="checkbox" name="method" value="Cash">Cash</input>
      <input type="checkbox" name="method" value="Credit">Credit Card</input>
      <input type="checkbox" name="method" value="Coupon">Coupon</input>
      </p>
      <p>
          <input type="radio" name="category" value="Restaurant">Restaurant </input>
          <input type="radio" name="category" value="Grocery">Grocery </input>
          <input type="radio" name="category" value="Household">Household </input>
          <input type="radio" name="category" value="Shopping">Shopping </input>
          <input type="radio" name="category" value="bb">bb </input>
          <input type="radio" name="category" value="Sports">Sports </input>
          <input type="radio" name="category" value="Traffic">Traffic </input>
          <input type="radio" name="category" value="Medicine">Medicine </input>
          <input type="radio" name="category" value="Gift">Gift </input>
          <input type="radio" name="category" value="Other">Other </input>
      </p>
       <h5>Details: </h5>  
        <div><textarea name="content" class="input-block-level" rows="1" cols=20></textarea></div>
        <div><input type="submit" class="btn btn-large btn-primary" value="Update"></div>
      </form>
      <!-- [END Input] -->
      <!-- [START greetings] -->
      {% for greeting in greetings %}
      <div class="row">
        {% if greeting.author %}
              <b>{{ greeting.author.email }}</b>
           wrote:
        {% endif %}
        <blockquote> {{ greeting.dateR }} Amount: <b>{{greeting.amount}}</b> JPY by {{greeting.method}} for {{greeting.category}}, Details: {{greeting.content}}</blockquote>
      </div>
      {% endfor %}
      <!-- [END greetings] -->


      <hr>

      <form>Guestbook name:
        <input value="{{ guestbook_name }}" name="guestbook_name">
        <input type="submit" value="switch">
      </form>

      <a href="{{ url|safe }}">{{ url_linktext }}</a>
    </div>
  </body>
</html>
{% endautoescape %}
